<h1>Welcome to TinyApp Yo!</h1>

<% if (username !== undefined){ %>
  <form method="post" action= "/logout" >
    <input type="submit" value="logout"/>
  </form>
  <div><%= username%></div>
<% } else{ %>
  <form action="/login" method="POST">
    <label for="username">Login</label>
    <input id="username" type="text" name="username" placeholder="username">
    <input type="submit" value="Login">
  </form>
<% } %>